@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-red-hat-display: "Red Hat Display", "sans-serif";
  --font-inter: "Inter", "sans-serif";
  --font-kantumruy-pro: "Kantumruy Pro", "sans-serif";
  --font-battambang: "Battambang", "sans-serif";
}

/* Base scrollbar styles */
::-webkit-scrollbar {
  background-color: transparent;
  height: 0.3em;
  width: 0.3em;
}

/* Light mode styles */
::-webkit-scrollbar-track {
  background-color: var(--color-gray-100);
}

::-webkit-scrollbar-thumb {
  border-radius: 0.3em;
  background-color: var(--color-gray-400);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-gray-500);
}

/* Dark mode styles */
:root.dark ::-webkit-scrollbar-track {
  background-color: var(--color-gray-800);
}

:root.dark ::-webkit-scrollbar-thumb {
  background-color: var(--color-gray-700);
}

:root.dark ::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-gray-600);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
